body {
  align-self: center;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  color: white;
  background-color: #000000;
  margin: 0;
  width: 100vw;
  overflow-x: hidden; }
  body h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: lighter; }
  body #header {
    background-color: #7c5186;
    position: fixed;
    width: 100%;
    top: 0; }
    body #header .menu {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      transition: height .8s ease;
      overflow: hidden; }
      body #header .menu .logo .game-stream-desktop img {
        width: 85px; }
      body #header .menu .logo .game-stream-mobile {
        display: none; }
        body #header .menu .logo .game-stream-mobile img {
          width: 50px; }
      body #header .menu .logo .btn-menu {
        display: none;
        color: white;
        text-decoration: none;
        font-size: 30px; }
      body #header .menu .links {
        width: 900px; }
        body #header .menu .links ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          justify-content: space-between; }
          body #header .menu .links ul li a {
            text-decoration: none;
            color: white; }
            body #header .menu .links ul li a ion-icon {
              margin-right: 5px;
              position: relative;
              top: 2px; }
  body main {
    height: 690px;
    display: flex;
    flex-direction: column; }
  body .img-container {
    position: relative;
    width: inherit;
    height: inherit;
    background-image: url(../images/forza-bg.webp);
    background-size: cover;
    background-repeat: no-repeat; }
  body .dark {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.822); }
  body .first-sight {
    align-self: center;
    position: absolute;
    z-index: 3;
    top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70% 10% 10% 10%;
    grid-row-gap: 20px; }
    body .first-sight .logo-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      grid-column-start: 1;
      grid-column-end: 6;
      display: flex;
      flex-direction: row;
      justify-content: center;
      grid-row-start: 1;
      grid-row-end: 2; }
      body .first-sight .logo-container .main-logo {
        width: 330px;
        height: 200px; }
    body .first-sight h2 {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center; }
    body .first-sight span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
      text-align: center; }
    body .first-sight .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5; }
      body .first-sight .btn-container .free-btn {
        box-shadow: inset 3px 4px 0px 0px #54365a;
        background-color: #0a0a0e;
        border-radius: 5px;
        border: 1px solid #000000;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: 'Muli', sans-serif;
        font-size: 22px;
        font-weight: bold;
        padding: 17px 44px;
        text-decoration: none;
        text-shadow: 3px 2px 0px #7c5186; }
        body .first-sight .btn-container .free-btn:hover {
          position: relative;
          top: 2px;
          background-color: #7c5186; }

.sus-plans {
  margin: 0;
  height: auto;
  width: 100vw;
  color: #7c5186;
  padding: 30px 30px 30px 0px;
  background-color: #c7c7c7;
  -webkit-box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75); }
  .sus-plans h2 {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: lighter;
    align-items: flex-end;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif; }
  .sus-plans .plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .sus-plans .plans .plan-1 {
      background-image: url(https://via.placeholder.com/200x700);
      overflow: hidden;
      height: 70vh;
      width: 300px; }
    .sus-plans .plans .plan-2 {
      background-image: url(https://via.placeholder.com/200x700);
      overflow: hidden;
      height: 70vh;
      width: 300px; }
    .sus-plans .plans .plan-3 {
      background-image: url(https://via.placeholder.com/200x700);
      overflow: hidden;
      height: 70vh;
      width: 300px; }

.dispositivos h3 {
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  display: flex;
  direction: row;
  justify-content: center;
  text-align: center; }

.dispositivos .info {
  margin: 0;
  height: auto;
  width: 100vw;
  color: #7c5186;
  padding: 30px 30px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .dispositivos .info .xbox {
    color: #348a34;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center; }
    .dispositivos .info .xbox ion-icon {
      align-self: center;
      font-size: 50px; }
    .dispositivos .info .xbox h2 {
      align-self: center; }
  .dispositivos .info .playstation {
    color: #4b4bff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center; }
    .dispositivos .info .playstation ion-icon {
      align-self: center;
      font-size: 50px; }
    .dispositivos .info .playstation h2 {
      align-self: center; }
  .dispositivos .info .notebooks {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center; }
    .dispositivos .info .notebooks ion-icon {
      align-self: center;
      font-size: 50px; }
    .dispositivos .info .notebooks h2 {
      align-self: center; }
  .dispositivos .info .phone {
    color: #7c5186;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center; }
    .dispositivos .info .phone ion-icon {
      align-self: center;
      font-size: 50px; }
    .dispositivos .info .phone h2 {
      align-self: center; }

h1 {
  font-family: 'Quicksand',sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  justify-self: center;
  margin-bottom: 60px; }

.genres {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .genres .genres-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px; }
    .genres .genres-container div {
      width: 160px;
      margin: 25px; }
      .genres .genres-container div :hover {
        color: #7c5186; }
      .genres .genres-container div a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white; }
        .genres .genres-container div a i {
          justify-self: center;
          font-size: 70px; }
        .genres .genres-container div a h3 {
          font-weight: lighter;
          font-family: 'Quicksand', sans-serif;
          font-size: 35px;
          text-align: center; }

.titlenews {
  margin-top: 120px; }

.top-news {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem auto; }
  .top-news .tn-1 img {
    height: 400px;
    width: 600px;
    border-radius: 10px; }
  .top-news .tn-1 .title {
    position: relative;
    left: 100px;
    bottom: 70px; }
    .top-news .tn-1 .title a {
      color: black; }
  .top-news .tn-2 img {
    height: 400px;
    width: 600px;
    border-radius: 10px; }
  .top-news .tn-2 .title {
    position: relative;
    left: 20px;
    bottom: 70px; }
    .top-news .tn-2 .title a {
      color: white; }

.news-row {
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .news-row .second-news-1 {
    width: 250px;
    height: 150px;
    background-image: url(../images/fortnite-new-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px; }
    .news-row .second-news-1 .news-short {
      color: white;
      margin-top: 120px; }
      .news-row .second-news-1 .news-short h3 {
        display: block;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .news-row .second-news-2 {
    width: 250px;
    height: 150px;
    background-image: url(../images/league-legends-news.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px; }
    .news-row .second-news-2 .news-short {
      color: white;
      margin-top: 120px; }
      .news-row .second-news-2 .news-short h3 {
        display: block;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

.second-news-3 {
  width: 250px;
  height: 150px;
  background-image: url(../images/ps5-black-new-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px; }
  .second-news-3 .news-short {
    color: white;
    margin-top: 120px; }
    .second-news-3 .news-short h3 {
      display: block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.second-news-4 {
  width: 250px;
  height: 150px;
  background-image: url(../images/gta-v-news-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px; }
  .second-news-4 .news-short {
    color: white;
    margin-top: 120px; }
    .second-news-4 .news-short h3 {
      display: block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 70px; }
  .second-container .container-news {
    padding-top: 50px; }
    .second-container .container-news h2 {
      text-align: left;
      padding-left: 40px; }
    .second-container .container-news .news-card {
      display: flex;
      flex-direction: row;
      margin: 1rem auto;
      margin-left: 40px;
      box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.6%;
      background: white;
      color: #7c5186;
      line-height: 1.4;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
      max-width: 800px; }
      .second-container .container-news .news-card img {
        width: 300px; }
  .second-container .recommended {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 1rem auto; }
    .second-container .recommended .recommended-content-1 {
      background-image: url(../images/lastofus-rec.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 370px; }
    .second-container .recommended .recommended-content-2 {
      background-image: url(../images/cyberpunk-rec-min.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 370px; }
    .second-container .recommended .recommended-content-3 {
      background-image: url(../images/destiny-rec-min.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 370px; }
    .second-container .recommended .review {
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
      .second-container .recommended .review strong {
        color: white; }

.description {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: rgba(7, 6, 6, 0.863); }
  .description .info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 20px; }
    .description .info h1 {
      text-align: left; }
    .description .info .sus-btn {
      background-color: #7c5186;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      padding: 6px 12px;
      text-decoration: none;
      width: 170px;
      padding: 10px; }
  .description .img-height {
    height: 473px; }

.perks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #18171a; }
  .perks .perk-description {
    text-align: center;
    max-width: 300px;
    margin: 1rem auto; }
    .perks .perk-description i {
      color: #7c5186;
      font-size: 30px; }

.suscards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
  margin: 1rem auto; }
  .suscards-container .card {
    text-decoration: none;
    color: #7c5186;
    max-width: 300px;
    width: 100%;
    height: 500px;
    background: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
    transition: all .3s ease-in-out;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.55); }
    .suscards-container .card .card-1 {
      padding-bottom: 90%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background-image: url(..//images/solo-gamer-min.crop.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .suscards-container .card .card-2 {
      padding-bottom: 90%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background-image: url(..//images/couple-gamer-min.crop.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .suscards-container .card .card-3 {
      padding-bottom: 90%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background-image: url(..//images/family-gamers.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .suscards-container .card .content {
      left: 0;
      width: 100%;
      background: white;
      border-radius: 10px;
      padding: 30px 30px 30px;
      margin-top: -20px;
      position: relative;
      transition: all .3s ease-in-out; }
      .suscards-container .card .content > * {
        margin-bottom: 20px; }
        .suscards-container .card .content > *:last-child {
          margin-bottom: 0; }
      .suscards-container .card .content h3 {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 15px; }
    .suscards-container .card .suscription {
      color: white;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .8em;
      padding: 10px 20px;
      background: #7c5186;
      border-radius: 50px;
      position: absolute;
      bottom: 30px;
      left: 30px;
      opacity: 0;
      transform: translateY(30px);
      transition: all .3s ease-in-out; }
    .suscards-container .card:hover {
      box-shadow: 0 4px 15px rgba(44, 46, 65, 0.15); }
      .suscards-container .card:hover .content {
        transform: translateY(-50%); }
      .suscards-container .card:hover .suscription {
        opacity: 1;
        transform: translateY(0);
        border: solid 1px #000000; }

.login-bg {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/cyberpunk-bg-min.jpg);
  background-repeat: no-repeat; }
  .login-bg .darken-login {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center; }
    .login-bg .darken-login .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      z-index: 3;
      margin-top: 100px;
      height: 500px;
      width: 400px;
      border-radius: 10px;
      background-image: linear-gradient(to bottom right, #6749b9, #a85cb3, #e677e6); }
      .login-bg .darken-login .login-container .img-login {
        width: 50px; }
      .login-bg .darken-login .login-container h1 {
        font-size: 25px;
        margin-bottom: 0px; }
      .login-bg .darken-login .login-container div {
        display: flex;
        flex-direction: row; }
        .login-bg .darken-login .login-container div input {
          border: none;
          border-bottom: solid 1px white;
          background-color: rgba(255, 255, 255, 0);
          color: white; }
          .login-bg .darken-login .login-container div input:focus {
            outline: none; }
          .login-bg .darken-login .login-container div input::placeholder {
            color: white;
            opacity: 50%; }
      .login-bg .darken-login .login-container .login-btn {
        text-align: center;
        background-color: white;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        color: #7c5186;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 12px;
        text-decoration: none;
        width: 100px;
        padding: 10px; }
      .login-bg .darken-login .login-container a {
        color: white;
        font-weight: bold; }
    .login-bg .darken-login form {
      padding-top: 50px;
      position: absolute;
      z-index: 3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 900px;
      height: inherit;
      color: white; }
      .login-bg .darken-login form .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: inherit; }
        .login-bg .darken-login form .form input {
          background-color: rgba(255, 255, 255, 0);
          border: none;
          border-bottom: 1px solid #7c5186;
          font-size: 16px;
          font-weight: lighter;
          color: white;
          font-family: 'Muli',sans-serif; }
          .login-bg .darken-login form .form input:focus {
            outline: none; }
          .login-bg .darken-login form .form input::placeholder {
            font-weight: lighter;
            font-family: 'Muli', sans-serif;
            color: white;
            opacity: 75%; }
        .login-bg .darken-login form .form select {
          background-color: rgba(255, 255, 255, 0);
          border: none;
          border-bottom: 1px solid #7c5186;
          font-size: 16px;
          font-weight: lighter;
          color: white;
          font-family: 'Muli',sans-serif; }
          .login-bg .darken-login form .form select:focus {
            outline: none; }
          .login-bg .darken-login form .form select::placeholder {
            font-weight: lighter;
            font-family: 'Muli', sans-serif;
            color: white;
            opacity: 75%; }
          .login-bg .darken-login form .form select option {
            background-color: #000000; }
        .login-bg .darken-login form .form button {
          background-color: #7c5186;
          width: 100px;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          align-self: center; }
          .login-bg .darken-login form .form button:focus {
            outline: none; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #7c5186;
  height: 100px;
  -webkit-box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 21px 0px rgba(0, 0, 0, 0.75); }
  .footer .social {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .footer .social div a {
      color: white; }

.headroom {
  transition: transform .3s ease; }
  .headroom.headroom--pinned {
    position: absolute;
    z-index: 100000;
    transform: translateY(0%); }
  .headroom.headroom--unpinned {
    transform: translateY(-100%);
    position: absolute;
    z-index: 100000; }
  .headroom.headroom--top {
    position: absolute;
    z-index: 100000; }
  .headroom.headroom--not-top {
    position: absolute;
    z-index: 100000; }
  .headroom.headroom--bottom {
    position: absolute;
    z-index: 100000; }
  .headroom.headroom--bottom {
    position: absolute;
    z-index: 100000; }

@media (max-width: 1000px) {
  body {
    padding-top: 0px; }
    body #header .menu {
      display: flex;
      flex-direction: column;
      align-content: space-around; }
      body #header .menu .logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        body #header .menu .logo .game-stream-desktop {
          display: none; }
        body #header .menu .logo .game-stream-mobile {
          margin-top: 10px;
          display: inline-block; }
        body #header .menu .logo .btn-menu {
          display: inline-block;
          padding: 15px 10px 0px 0px; }
      body #header .menu .links {
        width: 100vw; }
        body #header .menu .links ul {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 60vh;
          padding-left: 20px; }
    body main {
      padding-top: 100px;
      height: 700; }
      body main .dark {
        height: inherit; }
      body main .first-sight h2 {
        font-weight: normal !important;
        align-items: center;
        padding-bottom: 20px; }
      body main .first-sight span {
        align-items: center; }
      body main .first-sight .btn-container .free-btn {
        box-shadow: inset 3px 4px 0px 0px #54365a;
        background-color: #0a0a0e;
        border-radius: 5px;
        border: 1px solid #000000;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: 'Muli', sans-serif;
        font-size: 15px;
        font-weight: normal;
        padding: 8px 25px;
        text-decoration: none;
        text-shadow: 3px 2px 0px #7c5186; }
        body main .first-sight .btn-container .free-btn:hover {
          position: relative;
          top: 2px;
          background-color: #7c5186; }
    body .sus-plans {
      height: auto;
      width: 100vw;
      padding-bottom: 15px;
      padding-right: 5%; }
      body .sus-plans h2 {
        height: auto;
        text-align: center;
        font-size: 35px;
        align-self: center; }
      body .sus-plans .plans {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-items: center;
        padding: 20px; }
        body .sus-plans .plans .plan-1 {
          align-self: center;
          margin: 10px; }
        body .sus-plans .plans .plan-2 {
          align-self: center;
          margin: 10px; }
        body .sus-plans .plans .plan-3 {
          align-self: center;
          margin: 10px; }
    body .dispositivos .info {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      height: auto; }
    body h1 {
      padding-top: 50px;
      font-size: 30px; }
    body .genres {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-items: center; }
      body .genres .genres-container {
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        align-content: space-around;
        height: 1000px;
        max-width: 100vw; }
    body .titlenews {
      padding-top: 100px;
      margin-top: 20px;
      text-align: center; }
    body .top-news {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem auto; }
      body .top-news .tn-1 img {
        height: 200px;
        width: 300px;
        border-radius: 10px; }
      body .top-news .tn-1 .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        position: relative;
        left: 0; }
      body .top-news .tn-2 img {
        height: 200px;
        width: 300px;
        border-radius: 10px; }
      body .top-news .tn-2 .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        position: relative;
        left: 0; }
    body .news-row {
      max-width: 250px;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-items: center; }
    body .second-container {
      display: flex;
      flex-direction: column;
      align-content: space-between; }
      body .second-container .container-news {
        padding-top: 50px; }
        body .second-container .container-news h2 {
          text-align: left;
          padding-left: 40px; }
        body .second-container .container-news .news-card {
          display: flex;
          flex-direction: column;
          margin: 1rem auto; }
    body .description {
      padding-top: 100px; }
      body .description .img-height img {
        display: none; }
    body .perks {
      display: flex;
      flex-direction: column; }
    body .suscards-container {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-items: center;
      max-height: 2000px; }
      body .suscards-container .card {
        text-decoration: none;
        color: #7c5186;
        max-width: 300px;
        width: 100%;
        height: 500px;
        background: white;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
        transition: all .3s ease-in-out;
        overflow: hidden;
        margin: 1rem auto; }
    body .login-bg .darken-login .login-container {
      width: 250px; }
    body .login-bg .darken-login form {
      flex-direction: column;
      max-width: 300px; }
    body .footer {
      margin-top: 50px;
      height: 150px;
      width: 100vw; } }
